.GridContainer{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    grid-auto-rows: 1fr !important;
}

@media screen and (max-width: 768px) {
.GridContainer {
        display: grid;
        gap: 5px;
        grid-auto-rows: 1fr !important;
        grid-template-columns: 1fr;
    }
}